.modal {
  width: 450px;
  background-image: linear-gradient(to bottom right, red, yellow);
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01),
    0px 105px 63px rgba(0, 0, 0, 0.05) 0px 47px 47px rgba(0, 0, 0, 0.09) 0px
      12px 26px rgba(0, 0, 0, 0.1) 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.banner {
  width: 100%;
  height: 30px;
  margin: 0;
  background-size: 100%;
  background-repeat: no-repeat;
}

.title {
  font-weight: 700;
  font-size: 35px;
  line-height: 21px;
  text-align: center;
  color: #111;
  margin-bottom: 15px;
}
.title .span1 {
  color: yellow;
}

.description {
  max-width: 80%;
  margin: auto; /**/
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #5f5d6b;
}

.tab-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  background-color: #ebebec;
  border: 9px;
  border-radius: 7px;
  margin: 10px 20px 0px 20px;
}

.indicator {
  content: "";
  width: 58%;
  height: 28px;
  background: #ffffff;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 9;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.012), 0px 3px 1px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  transition: all 0.2s ease-out;
}
.tab {
  width: 50%;
  height: 30px;
  position: relative;
  z-index: 99;
  background-color: transparent;
  border: 0;
  outline: none;
  flex: none;
  align-self: stretch;
  flex-grow: 1;
  cursor: pointer;
  font-weight: 500;
}
.tab--1:hover ~ .indicator {
  left: 2px;
}
.tab--2:hover ~ .indicator {
  left: calc(41.8% - 2px);
}
.benefits {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.benefits > span {
  font-size: 15px;
  color: #2b2b2f;
  font-weight: 700;
}
.benefits ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.benefits ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1px;
}
.benefits ul li span {
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
}
.modal--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #ebebec;
}
.price {
  position: relative;
  font-size: 32px;
  color: #2b2b2f;
  font-weight: 900;
}
.price sup {
  font-size: 13px;
}
.price sub {
  width: fit-content;
  position: absolute;
  font-size: 11px;
  color: black;
  bottom: 5px;
  display: inline-block;
}
.upgrade-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 40px;
  background-image: linear-gradient(orange, yellow, orangered);
  box-shadow: 0px 0.5px 0.5px #efefef, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 7px;
  border: 0.5 solid black; /**/
  outline: none;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.upgrade-btn:hover {
  background-image: linear-gradient(yellow, orange, yellow);
  /* box-shadow: 1px 1px 20px yellow; */
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
